# ignore system-specific files
.DS_Store

# ignore IDE / editor-specific files
*.idea/
.vscode/

# ignore build artifacts
api/dist

# ignore package managers
node_modules/
app/package-lock.json

# ignore environment files
.env

# ignore sensitive / private information

# other files
app/.expo/
